*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}

.calculator {    
    width: 27%;
    height: 65%;
    background: #00ffbf;
    position: relative;
    z-index: 2;
    overflow: hidden;
    border-radius: 5%;
}

.calculator::before {
    content: '';
    background: #010038;
    height: 98%;
    width: 98%;
    position: absolute;
    top: 1%;
    left: 1%;
    z-index: 3;
    border-radius: inherit;
}

.calculator::after {
    content: '';
    background: linear-gradient(90deg, red 50%, green 50%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all ease 0.1;
    animation: rotate infinite 0.9s forwards;
    border-radius: inherit;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.inputs {
    z-index: 5;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 60%;
    gap: 10%;
    padding: 5% 0;
    color: white;
}

.inputs input {
    height: 50%;
    width: 75%;
    border-radius: 20px;
    padding: 1% 5%;
    border: 1px solid whitesmoke;
}

.symbols {
    width: 100%;
    height: 20%;
    position: inherit;
    z-index: 6;
    top: 60%;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 3%;
}

.symbols img:nth-child(5) {
    filter: invert(1);
}

.icon {
    height: 45px;
    margin: 2%;
    border: 1px solid blueviolet;
    padding: 2%;
    border-radius: 25px;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
}

.icon:hover {
    filter: brightness(0.6);
    transform: scale(0.9);
}

.magic {
    position: absolute;
    z-index: 6;
    top: 80%;
    left: 0;
    width: 100%;
    height: 15%;
    display: grid;
}

.magic button {
    place-self: center;
    height: 70%;
    width: 50%;
    border-radius: 20px;
    border: 2px solid black;
    font-weight: bold;
    cursor: pointer;
    transition: all ease 0.1s;
}

.magic button:hover {
    filter: brightness(0.7);
    transform: scale(0.95);
}


@media (min-width: 300px) and (max-width: 500px) {
    .calculator {
        width: 85%;
        height: 55%;
    }

    .inputs input {
        height: 16%;
    }

    .symbols {
        padding: 0 10%;
    }

    .magic button {
        height: 55%;
    }

}

@media (min-width: 501px) and (max-width: 950px) {
    .calculator {
        width: 55%;
        height: 55%;
    }

    .inputs input {
        height: 15%;
    }

    p {
        font-size: 30px;
    }

    .symbols {
        padding: 0 5%;
        height: 14%;
    }

    .icon {
        height: 70px;
        border-radius: 50%;
    }

    .magic {
        top: 75%;
    }

    .magic button {
        height: 55%;
        font-size: 18px;
    }
}


  